<!DOCTYPE html>
<html>
    <head>
        <title>PAN</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Chango&display=swap" rel="stylesheet"> 
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pangolin&family=Ranchers&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="stylesheet.css">
    </head>

    <style>
        body{
            /* background:white; 
            background-image: url("https://www.transparenttextures.com/patterns/diagonales-decalees.png"); */
            word-spacing: .2rem;
            font-family: 'Nunito Sans', sans-serif;
            font-size: 1.2rem;
        }
        a:hover {
            text-decoration: none; 
        }
        .parallax {
            background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v936-background-adj-08.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=d2bdd5548a96d8f2918a09915618b6b8");
            min-height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: unset;
        }

    </style>

    <body>

        <!-- navbar -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <a class="navbar-brand" href="/" id="nav_links">
                <img src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617212410/logo1_nlo0w3.png" height="50" width="50">
                    PAN
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navLinks">
                <!-- <span style="justify-items: right;"> -->
                    <ul class="nav navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="nav_links" href="/gallery/artist" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; margin-left: 67rem;">
                                More
                            </a>
                            <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="margin-left: 67rem;">
                                <a class="dropdown-item" href="/aboutUs/#aboutus" id="nav_links">About Us</a>
                                <a class="dropdown-item" href="/aboutUs/#experience" id="nav_links">Experience</a>
                                <a class="dropdown-item" href="/aboutUs/#whatwedo" id="nav_links">What we do</a>                                
                                <a class="dropdown-item" href="/aboutUs/#expertise" id="nav_links">Expertise</a>
                                <a class="dropdown-item" href="/aboutUs/#commitment" id="nav_links">Commitment</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/associates" id="nav_links" style="color: white; padding-left: 2rem;">Associates</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contactUs" id="nav_links" style="color: white; padding-left: 2rem;">Contact Us</a>
                        </li>
                    </ul>
                <!-- </span> -->
            </div>
        </nav>

        <div class="parallax" style="padding-bottom: 5rem; padding-right: 10rem; padding-left: 10rem; padding-top: 1.7rem; margin-top: 0;">

        <div style="padding-bottom: 5rem;">
            <!-- courosel -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img style="height: 35rem; padding-top: 5rem; margin-top: 1rem;" 
                            class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455750/11_h2fkz6.png" alt="Third slide">
                    </div>                   
                    <div class="carousel-item carousal">
                        <img style="height: 35rem; padding-top: 5rem; margin-top: 1rem;"
                            class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617796996/22_orzcqs.png" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img style="height: 35rem; padding-top: 5rem; margin-top: 1rem;"
                            class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455750/33_marxbr.png" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img style="height: 35rem; padding-top: 5rem; margin-top: 1rem;"
                            class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455750/44_cg1zhb.png" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img style="height: 35rem; padding-top: 5rem; margin-top: 1rem;"
                            class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455750/55_h0twc7.png" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img style="height: 35rem; padding-top: 5rem; margin-top: 1rem;"
                            class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455752/66_bynm01.png" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img style="height: 35rem; padding-top: 5rem; margin-top: 1rem;"
                            class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455751/77_t90azx.png" alt="Second slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img style="height: 35rem; padding-top: 5rem; margin-top: 1rem;"
                            class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455751/88_shmumq.png" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img style="height: 35rem; padding-top: 5rem; margin-top: 1rem;"
                            class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455751/99_hkue8b.png" alt="Third slide">
                    </div> 
                    <div class="carousel-item carousal">
                        <img style="height: 35rem; padding-top: 5rem; margin-top: 1rem;"
                            class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617460287/1010_gm8vg5.png" alt="Third slide">
                    </div> 
                    
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"  id="aboutus">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>



    
        <center class="head"><h1>About Us  <i class="far fa-smile-beam"></i></h1></center>
        <ul  class="content shadow-lg p-3 mb-5 bg-body rounded" style="list-style-type:none;">
            <li><i class="fas fa-caret-right"></i>
                We are in Environmental Consultancy services since 2018. 
            </li>
            <li><i class="fas fa-caret-right"></i>
                We have deep expertise in dealing with Environmental related issues, Clearance work at Ministry of Environment and Forest & Climate Change, Delhi (MoEF&CC),  State Environmental Impact Assessment Authority (SEIAA) and State Expert Appraisal Committee (SEAC) under EIA Notification 2006 and its amendments as per Environmental (Protection) Act, 1986
            </li>
            <li><i class="fas fa-caret-right"></i>
                We do have experienced and professional team in dealing with consent related issues at Maharashtra Pollution Control Board (MPCB) under the Water (P&CP) Act, 1974, Air (Prevention and Control of Pollution) Act, 1981, Water (Cess) Act, 1977, Authorization under Rule 6 of the Hazardous & Other Wastes (M &  T M ) Rules 2016
            </li>
            <li><i class="fas fa-caret-right"></i>
                We have an experience to deal the legal aspect under the National Green Tribunal (NGT) Act, 2010
            </li>
            <li><i class="fas fa-caret-right"></i>
                Having knowledge related EIA notifications, Rules, Circulars, Office Memorandum and Acts etc., 
            </li>
            <li id="experience"><i class="fas fa-caret-right"></i>
                Well knowledge of the environmental clearance process, issues related to environmental concerns. 
            </li>
        </ul>   


        <center><h1 class="head">Work Experience   <i class="fas fa-user-edit"></i></h1></center>
        <ul class="content shadow-lg p-3 mb-5 bg-body rounded" style="list-style-type:none;">
            <li><i class="fas fa-caret-right"></i> 
                New proposed, expansion, Amendment, Re-validation - having BUA area below and above 1,50,000 sq.mt.
            </li>
            <li><i class="fas fa-caret-right"></i> 
                Residential & Commercial projects were comes under difference corporations.
            </li>
            <li><i class="fas fa-caret-right"></i> 
                Township development and Area Development projects.
            </li>
            <li><i class="fas fa-caret-right"></i> 
                Commercial projects, Hospital projects, IT projects, Mall etc. 
            </li>
            <li id="whatwedo"><i class="fas fa-caret-right"></i> 
                Violation projects comers under Environmental (Protection) Act, 1986 and MoEF Notification dated 14th March 2017 and its amendments. 
            </li>
        </ul>


        <center><h1 class="head">What We Do  <i class="fas fa-question-circle"></i></h1></center>
        <ul class="content shadow-lg p-3 mb-5 bg-body rounded" style="list-style-type:none;">
            <li><i class="fas fa-caret-right"></i> 
                Environmental Clearance 
            </li>
            <li><i class="fas fa-caret-right"></i> 
                Environmental Impact Assessment report including baseline monitoring 
            </li>
            <li><i class="fas fa-caret-right"></i> 
                Terms of Reference application 
            </li>
            <li><i class="fas fa-caret-right"></i> 
                Consent to Establish, Operate, Renewal etc. from Maharashtra Pollution Control Board (MPCB)
            </li>
            <li><i class="fas fa-caret-right"></i> 
                Six monthly Compliance and Monitoring report to Nagpur, Env. Dept, MPCB
            </li>
            <li><i class="fas fa-caret-right"></i> 
                Compliance RO-Certification from MoEF, Nagpur Division 
            </li>
            <li><i class="fas fa-caret-right"></i> 
                Central Ground Water Authority (CGWA) NOC
            </li>
            <li><i class="fas fa-caret-right"></i> 
                Preparation of Environmental Status report as require by Corporations.
            </li>
            <li><i class="fas fa-caret-right"></i> 
                CRZ clearance 
            </li>
            <li><i class="fas fa-caret-right"></i> 
                Forest Clearance
            </li>
            <li><i class="fas fa-caret-right"></i> 
                NBWL NOC/ Clearance 
            </li>
            <li><i class="fas fa-caret-right"></i> 
                Safety audit
            </li>
            <li><i class="fas fa-caret-right"></i> 
                Factory liaisons 
            </li>
            <li><i class="fas fa-caret-right"></i> 
                Online form submission :
                <ul>
                    <li>Hazardous Waste Applications</li>
                    <li>Plastic related applications</li>
                    <li>Bio-medical waste application</li>
                    <li>Municipal Solid Waste Applications</li>
                    <li>E-waste applications</li>
                    <li>Battery applications</li>
                    <li>Environment Statement – Form V</li>
                    <li>Water cess</li>
                    <li>Construction & Demolition Applications</li>
                    <li id="expertise">- Other application as applicable under Act</li>
                </ul>
            </li>
        </ul>
    


        <center><h1 class="head"><i class="fas fa-graduation-cap"></i> Our Expertise</h1></center>
        <ul class="content shadow-lg p-3 mb-5 bg-body rounded" style="list-style-type:none;">
            <li><i class="fas fa-caret-right"></i> 
                To get an Environmental clearance for various sector’s  
            </li>
            <li><i class="fas fa-caret-right"></i> 
                To do the Environmental Impact Assessment studies including baseline monitoring  
            </li>
            <li><i class="fas fa-caret-right"></i> 
                To do the Damage Assessment and ecological assessment report, including remediation plan and natural and community resource augmentation plan and Approach paper 
            </li>
            <li><i class="fas fa-caret-right"></i> 
                To do the Environmental Management Plan report, Waste Management plan including municipal solid waste, Bio Medical waste, Hazardous waste and Debris management plan  & report, Environmental Status report, Disaster management plan & report etc.
            </li>
            <li id="commitment"><i class="fas fa-caret-right"></i> 
                To do compliance and monitoring report 
            </li>
        </ul>


        <center><h1 class="head"><i class="far fa-handshake"></i> Our Commitment</h1></center>
        <ul class="content shadow-lg p-3 mb-5 bg-body rounded" style="list-style-type:none;">
            <li><i class="fas fa-caret-right"></i> 
                We provide technical support and quality service while handling project & presenting before respective committees. 
            </li>
            <li><i class="fas fa-caret-right"></i> 
                We provide the assistance during project co-ordination upto completion of work
            </li>
            <li><i class="fas fa-caret-right"></i> 
                We give assurance about target to be completed as decided 
            </li>
            <li><i class="fas fa-caret-right"></i> 
                We give our 100% efforts to set the Goal and the completion the project as per Goal
            </li>
            <li><i class="fas fa-caret-right"></i> 
                We are tying to cover customer satisfaction related to project handling and clearance process 
            </li>
            <li><i class="fas fa-caret-right"></i> 
                We are committed to fulfilling these needs and building long-term customer loyalty and its our first commitment 
            </li>
            <li><i class="fas fa-caret-right"></i> 
                We have an experts in handling the project independently and with a good sense of communication with the client.
            </li>
            <li><i class="fas fa-caret-right"></i> 
                We always welcomes to customers comments, complaints, suggestions and feedback
            </li>
        </ul>

    </div>

<%- include ("../public/footer") %>