<!DOCTYPE html>
<html>
    <head>
        <title>PAN</title>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Chango&display=swap" rel="stylesheet"> 
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pangolin&family=Ranchers&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="stylesheet.css">

    </head>
    <body style='background-image: url("https://www.transparenttextures.com/patterns/diagonales-decalees.png");
                    word-spacing: .2rem;
                    font-family: "Nunito Sans", sans-serif;
                    font-size: 1.2rem;'>
        <div class="parallax">
        <!-- navbar -->
        <nav class="navbar navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617212410/logo1_nlo0w3.png" height="50" width="50">
                    PAN
                </a>
                <span class="navbar-brand d-flex flex-row-reverse">
                    <li class="nav-item dropdown" style="list-style-type:none;">
                        <a class="dropdown-toggle contactNav" style="color: white;" id="nav_links" href="/aboutUs" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/aboutUs/#aboutus" id="nav_links">About Us</a>
                            <a class="dropdown-item" href="/aboutUs/#experience" id="nav_links">Experience</a>
                            <a class="dropdown-item" href="/aboutUs/#whatwedo" id="nav_links">What we do</a>                                
                            <a class="dropdown-item" href="/aboutUs/#expertise" id="nav_links">Expertise</a>
                            <a class="dropdown-item" href="/aboutUs/#commitment" id="nav_links">Commitment</a>
                        </div>
                        <a class="contactNav"  id="nav_links" href="/associates" style="color: white; padding-left: 2rem;">
                            Associates
                        </a>
                        <a class="contactNav"  id="nav_links" href="/contactUs" style="color: white; padding-left: 2rem;">
                            Contact Us
                        </a>
                    </li>
            </div>    
        </nav>




<div class="container" style="padding-bottom: 5rem">

    <div id="aboutus" style="height: 500; padding-bottom: 5rem;"></div>
    <center class="head"><h1>About Us  <i class="far fa-smile-beam"></i></h1></center>
    <ul  class="content shadow-lg p-3 mb-5 bg-body rounded" style="list-style-type:none;">
        <li><i class="fas fa-caret-right"></i>
            We are in Environmental Consultancy services since 2018. 
        </li>
        <li><i class="fas fa-caret-right"></i>
            We have deep expertise in dealing with Environmental related issues, Clearance work at Ministry of Environment and Forest & Climate Change, Delhi (MoEF&CC),  State Environmental Impact Assessment Authority (SEIAA) and State Expert Appraisal Committee (SEAC) under EIA Notification 2006 and its amendments as per Environmental (Protection) Act, 1986
        </li>
        <li><i class="fas fa-caret-right"></i>
            We do have experienced and professional team in dealing with consent related issues at Maharashtra Pollution Control Board (MPCB) under the Water (P&CP) Act, 1974, Air (Prevention and Control of Pollution) Act, 1981, Water (Cess) Act, 1977, Authorization under Rule 6 of the Hazardous & Other Wastes (M &  T M ) Rules 2016
        </li>
        <li><i class="fas fa-caret-right"></i>
            We have an experience to deal the legal aspect under the National Green Tribunal (NGT) Act, 2010
        </li>
        <li><i class="fas fa-caret-right"></i>
            Having knowledge related EIA notifications, Rules, Circulars, Office Memorandum and Acts etc., 
        </li>
        <li id="experience"><i class="fas fa-caret-right"></i>
            Well knowledge of the environmental clearance process, issues related to environmental concerns. 
        </li>
    </ul>   


    <center><h1 class="head">Work Experience   <i class="fas fa-user-edit"></i></h1></center>
    <ul class="content shadow-lg p-3 mb-5 bg-body rounded" style="list-style-type:none;">
        <li><i class="fas fa-caret-right"></i> 
            New proposed, expansion, Amendment, Re-validation - having BUA area below 1,50,000 m2 and above 1,50,000 m2.
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Residential & Commercial projects were comes under difference corporations 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Township development and Area Development projects having BUA area above 1,50,000 m2 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Commercial projects, Hospital projects, IT projects, Mall etc. 
        </li>
        <li id="whatwedo"><i class="fas fa-caret-right"></i> 
            Violation projects comers under Environmental (Protection) Act, 1986 and MoEF Notification dated 14th March 2017 and its amendments. 
        </li>
    </ul>


    <center><h1 class="head">What We Do  <i class="fas fa-question-circle"></i></h1></center>
    <ul class="content shadow-lg p-3 mb-5 bg-body rounded" style="list-style-type:none;">
        <li><i class="fas fa-caret-right"></i> 
            Environmental Clearance 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Environmental Impact Assessment report including baseline monitoring 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Terms of Reference application 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Consent to Establish, Operate, Renewal etc. from Maharashtra Pollution Control Board (MPCB)
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Six monthly Compliance and Monitoring report to Nagpur, Env. Dept, MPCB
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Compliance RO-Certification from MoEF, Nagpur Division 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Central Ground Water Authority (CGWA) NOC
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Preparation of Environmental Status report as require by Corporations.
        </li>
        <li><i class="fas fa-caret-right"></i> 
            CRZ clearance 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Forest Clearance
        </li>
        <li><i class="fas fa-caret-right"></i> 
            NBWL NOC/ Clearance 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Safety audit
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Factory liaisons 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Online form submission :
            <ul>
                <li>- Hazardous Waste Applications</li>
                <li>- Plastic related applications</li>
                <li>- Bio-medical waste application</li>
                <li>- Municipal Solid Waste Applications</li>
                <li>- E-waste applications</li>
                <li>- Battery applications</li>
                <li>- Environment Statement – Form V</li>
                <li>- Water cess</li>
                <li>- Construction & Demolition Applications</li>
                <li id="expertise">- Other application as applicable under Act</li>
            </ul>
        </li>
    </ul>
  


    <center><h1 class="head"><i class="fas fa-graduation-cap"></i> Our Expertise</h1></center>
    <ul class="content shadow-lg p-3 mb-5 bg-body rounded" style="list-style-type:none;">
        <li><i class="fas fa-caret-right"></i> 
            To get an Environmental clearance for various sector’s  
        </li>
        <li><i class="fas fa-caret-right"></i> 
            To do the Environmental Impact Assessment studies including baseline monitoring  
        </li>
        <li><i class="fas fa-caret-right"></i> 
            To do the Damage Assessment and ecological assessment report, including remediation plan and natural and community resource augmentation plan and Approach paper 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            To do the Environmental Management Plan report, Waste Management plan including municipal solid waste, Bio Medical waste, Hazardous waste and Debris management plan  & report, Environmental Status report, Disaster management plan & report etc.
        </li>
        <li id="commitment"><i class="fas fa-caret-right"></i> 
            To do compliance and monitoring report 
        </li>
    </ul>


    <center><h1 class="head"><i class="far fa-handshake"></i> Our Commitment</h1></center>
    <ul class="content shadow-lg p-3 mb-5 bg-body rounded" style="list-style-type:none;">
        <li><i class="fas fa-caret-right"></i> 
            We provide technical support and quality service while handling project and presenting before respective committees. 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            We provide the assistance during project co-ordination upto completion of work
        </li>
        <li><i class="fas fa-caret-right"></i> 
            We give assurance about target to be completed as decided 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            We give our 100% efforts to set the Goal and the completion the project as per Goal
        </li>
        <li><i class="fas fa-caret-right"></i> 
            We are tying to cover customer satisfaction related to project handling and clearance process 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            We are committed to fulfilling these needs and building long-term customer loyalty and its our first commitment 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            We have an experts in handling the project independently and with a good sense of communication with the client.
        </li>
        <li><i class="fas fa-caret-right"></i> 
            We always welcomes to customers comments, complaints, suggestions and feedback
        </li>
    </ul>

</div>

<%- include ("../public/footer") %>