<%- include ("../public/header") %>

<div class="container" style="padding-bottom: 5rem">
    <center><h1 class="head"> <i class="fas fa-users"></i>  Other Associates Consultants</h1></center>
    <ul class="content shadow-lg p-3 mb-5 bg-body rounded">
        <li><i class="fas fa-caret-right"></i> 
            Architect – Design and  Interior designer 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Mechanical, Electrical and Plumbing (MEP)
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Sewage Treatment Plan (STP) 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Organic Waste Composter (OWC) 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Geo-hydrological study 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Storm Water Drain and Rain Water Harvesting study
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Landscape Architect
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Energy Conservation Building Codes (ECBC)
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Carbon Footprint analysis
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Traffic study
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Evacuation Analysis study
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Laboratory services – Analytical  and Monitoring
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Follow up technical team
        </li>
        <li><i class="fas fa-caret-right"></i> 
            NOC - Aviation
        </li>
        <li><i class="fas fa-caret-right"></i> 
            IGBC / GRIHA / LEED 
        </li>
        <li><i class="fas fa-caret-right"></i> 
            Service provider - Solar panel
        </li>
    </ul>
</div>

<%- include ("../public/footer") %>