<%- include ("../public/header") %>

        <div class="container" style="padding-bottom: 5rem;">

            <div>
                <center>
                    <span id="panHead">
                    <span style="color: rgb(192,0,0);">PAN</span> <span style="color: rgb(71,109,45);">GREEN FIELD ENVIRO</span><br>
                    </span>
                </center>
            </div>

            <!-- courosel -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://d1ymz67w5raq8g.cloudfront.net/Pictures/780xany/2/4/4/130244_iStock-170622718.jpg" alt="Third slide">
                    </div>                   
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://www.bdtips.com/wp-content/uploads/2018/07/make-earth-green-again.jpg">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://www.ecomaniac.org/wp-content/uploads/2020/02/Post-1.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://media.nationalgeographic.org/assets/photos/167/142/7dbe792c-eb3b-4743-9135-2e6087c7446c.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://www.marlborough.govt.nz/repository/libraries/id:1w1mps0ir17q9sgxanf9/hierarchy/Standard%20Images%20Reusable/Watercourse_river_stream_GCI.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://media-exp1.licdn.com/dms/image/C561BAQEnJ_VeJSyQYA/company-background_10000/0/1519796118221?e=2159024400&v=beta&t=xboc5T1rGFSIVGIPdKSwFLxMij-UA13Fz21SLHDE8LQ" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://generalcontractorlicenseguide.com/wp-content/uploads/2016/11/architecture-1541086_1920.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://www.aakashgroup.com/wp-content/uploads/2019/07/commercial-1-1-1919x959.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://etimg.etb2bimg.com/photo/68714681.cms" alt="Third slide">
                    </div> 
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://www.ipa.fraunhofer.de/en/industry-solutions/process-industry/jcr:content/contentPar/sectioncomponent/sectionParsys/wideimage/imageComponent/image.img.3col.jpg/1574858518636/Branchenloesung-Prozessindustrie-KeyVisual.jpg" alt="Third slide">
                    </div> 
                    
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>

            <div>
                <center>
                <p>
                    <span style="font-size: 1.5rem; color: #659999;">
                        Environmental Consultancy Services <br>
                        Company Registration - 1810200312198599 <br>
                        MSME - UDYAM-MH-33-0047229 <br>
                        Registered Address : 402, Sheetal Niwas Building,  Ram Maruti Road,
                        <br>  Naupada Road, Near Bedekar Hospital, Thane West - 400602
                    </span>
                </p>
                </center>
            </div>
        </div> 

        <div style="background-color: #0F2027; color: white; padding-bottom: 3rem;">
            <center class="head"><h1 id="contact">Contact Us <i class="fas fa-phone"></i></h1></center>
            <center>
                <ul>
                    <li>
                        For any enquiry/information please contact us on :<br>
                        +91-95940-76605/+91-99704-05605 <br> 
                        Timing : 10 am to 6 pm
                    </li>
                    <li>
                        Also write to us for any assistance on : <br>
                        pangreenfieldenviro@gmail.com or bagul_pradnya@rediffmail.com
                    </li>
                </ul>
            </center>
        </div>

<%- include ("../public/footer") %>