<!DOCTYPE html>
<html>
    <head>
        <title>PAN</title>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Chango&display=swap" rel="stylesheet"> 
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pangolin&family=Ranchers&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>

        <!-- navbar -->
        <nav class="navbar navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">PAN</a>
                <span class="navbar-brand d-flex flex-row-reverse">
                    <a class="contactNav" id="contactus" href="/">Contact Us</a>  
                    <a class="contactNav" id="aboutus" href="/">About Us</a>  
                </span>
            </div>    
        </nav>

        <div class="container" style="padding-bottom: 5rem;">

            <div>
                <center>
                    <span id="panHead">
                        PAN Green Field Enviro<br>
                    </span>
                </center>
            </div>

            <!-- courosel -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://images.pexels.com/photos/1423597/pexels-photo-1423597.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://images.pexels.com/photos/710263/pexels-photo-710263.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Second slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://images.pexels.com/photos/1463530/pexels-photo-1463530.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://images.pexels.com/photos/128234/pexels-photo-128234.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://images.pexels.com/photos/1043458/pexels-photo-1043458.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://images.pexels.com/photos/159884/pexels-photo-159884.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://images.pexels.com/photos/1462892/pexels-photo-1462892.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>

            <div>
                <center>
                <p>
                    <span style="font-size: 1.5rem; color: #659999;">
                        Environmental Consultancy Services <br>
                        Company Registration - 1810200312198599 <br>
                        MSME - UDYAM-MH-33-0047229 <br>
                        Registered Address : 402, Sheetal Niwas Building,  Ram Maruti Road,
                        <br>  Naupada Road, Near Bedekar Hospital, Thane West - 400602
                    </span>
                </p>
                </center>
            </div>

            <!-- content -->
            <center class="head"><h1>About Us  <i class="far fa-smile-beam"></i></h1></center>
            <ul  class="content shadow-lg p-3 mb-5 bg-body rounded">
                <li><i class="fas fa-circle-notch"></i>
                    We have since our formation in 2018 in Environmental Consultancy cervices 
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    We have an experience to deal with Environmental related issues, Clearance work at Ministry of Environment and Forest & Climate Change, Delhi (MoEF&CC),  State Environmental Impact Assessment Authority (SEIAA) and State Expert Appraisal Committee (SEAC) under EIA Notification 2006 and its amendments as per Environmental (Protection) Act, 1986
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    Also we have an experience to deal with consent related issues at Maharashtra Pollution Control Board (MPCB) under the Water (P&CP) Act, 1974, Air (Prevention and Control of Pollution) Act, 1981, Water (Cess) Act, 1977, Authorization under Rule 6 of the Hazardous & Other Wastes (M &  T M ) Rules 2016
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    We have an experience to deal the legal aspect under the National Green Tribunal (NGT) Act, 2010
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    Having knowledge related EIA notifications, Rules, Circulars, Office Memorandum and Acts etc., 
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    Well knowledge of the environmental clearance process, issues related to environmental concerns. 
                </li>
            </ul>

                <center><h1 class="head">What We Do  <i class="fas fa-question-circle"></i></h1></center>
                <ul class="content shadow-lg p-3 mb-5 bg-body rounded">
                    <li><i class="fas fa-circle-notch"></i>
                        Environmental Clearance (Fresh / Amendment / Expansion / Re-validation) from SEIAA, Maharashtra, MOEF and other states 
                    </li>
                    <li><i class="fas fa-circle-notch"></i>
                        Environmental Impact Assessment report including baseline monitoring
                    </li>
                    <li><i class="fas fa-circle-notch"></i>
                        Terms of Reference application 
                    </li>
                    <li><i class="fas fa-circle-notch"></i>
                        Consent to Establish, Operate, Renewal etc. from Maharashtra Pollution Control Board (MPCB)
                    </li>
                    <li><i class="fas fa-circle-notch"></i>
                        Six monthly Compliance and Monitoring report to Nagpur, Env. Dept, MPCB
                    </li>
                    <li><i class="fas fa-circle-notch"></i>
                        Compliance RO-Certification from MoEF, Nagpur Division
                    </li>
                    <li><i class="fas fa-circle-notch"></i>
                        Central Ground Water Authority (CGWA) NOC
                    </li>
                    <li><i class="fas fa-circle-notch"></i>
                        Preparation of Environmental Status report as require by Corporations.
                    </li>
                    <li><i class="fas fa-circle-notch"></i>
                        Safety audit
                    </li>
                    <li><i class="fas fa-circle-notch"></i>
                        Factory liaisons 
                    </li>
                    <li><i class="fas fa-circle-notch"></i>
                        Online form submission :
                        <ul>
                            <li><i class="fas fa-arrow-right"></i> Consent Application </li>
                            <li><i class="fas fa-arrow-right"></i> Hazardous Waste Applications</li>    
                            <li><i class="fas fa-arrow-right"></i> Plastic related applications</li>     
                            <li><i class="fas fa-arrow-right"></i> Bio-medical waste application</li>     
                            <li><i class="fas fa-arrow-right"></i> Municipal Solid Waste Applications</li>    
                            <li><i class="fas fa-arrow-right"></i> E-waste applications</li>    
                            <li><i class="fas fa-arrow-right"></i> Battery applications</li>    
                            <li><i class="fas fa-arrow-right"></i> Environment Statement</li>    
                            <li><i class="fas fa-arrow-right"></i> Water cess</li>    
                            <li><i class="fas fa-arrow-right"></i> Construction & Demolition Applications</li>    
                            <li><i class="fas fa-arrow-right"></i> Other application as applicable under Act</li>    
                        </ul>
                    </li>
                </ul>

            <center><h1 class="head"><i class="fas fa-graduation-cap"></i> Our Expertise</h1></center>
            <ul class="content shadow-lg p-3 mb-5 bg-body rounded">
                <li><i class="fas fa-circle-notch"></i>
                    To get an Environmental clearance from component authority for Building Construction projects, Area Development and Township projects, Hospital Projects, Commercial project likes offices, shops, Hubs, Malls, Market and IT projects etc. Also have an experience to getting the EC for industry project like Synthetic Organic, Distilleries, Sugar, Thermal Power plants, Cement and grinding sector, waste management sector 
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    To do the Environmental Impact Assessment studies including baseline monitoring  which is part of Environmental Clearance procedure as per EIA Notification
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    To prepare the Assessment of ecological damage assessment report, including remediation plan and natural and community resource augmentation plan
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    To prepare the Approach paper issued by SEIAA – Maharashtra State and follow the Guideline issued by MoEF&CC 
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    To prepare the Environmental Management Plan & report, Waste Management plan including municipal solid waste, Bio Medical waste, Hazardous waste and Debris management plan  & report, Environmental Status report, Disaster management plan & report etc.
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    To prepare and submit the compliance and monitoring report for EC and consent condition.
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    To do, safety audit, Factory Licenses, submission of forms comes under Air, Water Act & Rules and Hazardous Rules .
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    Expertise in handling the project independently and with a good sense of communication with the client. 
                </li>
            </ul>

            <center><h1 class="head">Work Experience   <i class="fas fa-user-edit"></i></h1></center>
            <ul class="content shadow-lg p-3 mb-5 bg-body rounded">
                <li><i class="fas fa-circle-notch"></i> New proposed, expansion, Amendment, Re-validation - having BUA area below 1,50,000 m2 and above 1,50,000 m2.</li>
                <li><i class="fas fa-circle-notch"></i> Residential & Commercial projects were comes under difference corporations more than 100 projects </li>
                <li><i class="fas fa-circle-notch"></i> Township development and Area Development projects having BUA area above 1,50,000 m2 more than 30 projects </li>
                <li><i class="fas fa-circle-notch"></i> Commercial projects, Hospital projects, IT projects, Mall etc more than 40 projects </li>
                <li><i class="fas fa-circle-notch"></i> Violation projects comers under Environmental (Protection) Act, 1986 and MoEF Notification dated 14th March 2017 and its amendments than 5 projects. </li>

            </ul>
            
            <center><h1 class="head"><i class="far fa-handshake"></i> Our Commitment To Our Clients</h1></center>
            <ul class="content shadow-lg p-3 mb-5 bg-body rounded">
                <li><i class="fas fa-circle-notch"></i> We provide technical support and quality service while handling project and presenting before respective committees. </li>
                <li><i class="fas fa-circle-notch"></i> We provide the whole assistance during project coordination up to completion of work</li>
                <li><i class="fas fa-circle-notch"></i> We will give assurance about the project completion time frame and target to be completed as decided </li>
                <li><i class="fas fa-circle-notch"></i> We give our 100% affords for completion of project </li>
                <li><i class="fas fa-circle-notch"></i> We are tying to reach and set the Goal.</li>
                <li><i class="fas fa-circle-notch"></i> Customer satisfaction related to project handling and clearance process is our first commitment </li>
                <li><i class="fas fa-circle-notch"></i> We are committed to fulfilling these needs and building long-term customer loyalty</li>
                <li><i class="fas fa-circle-notch"></i> We always welcomes to customers comments, complaints, suggestions and feedback</li>
                <li><i class="fas fa-circle-notch"></i> We are good in team work and having well developed skill in communication   </li>
            </ul>

            <center><h1 class="head"> <i class="fas fa-users"></i>  Other Associates Consultants</h1></center>
            <ul class="content shadow-lg p-3 mb-5 bg-body rounded">
                <li><i class="fas fa-circle-notch"></i>
                    Architect – Design and  Interior designer 
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    Mechanical, Electrical and Plumbing (MEP)
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    Sewage Treatment Plan (STP)
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    Organic Waste Composter (OWC) 
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    Geo-hydrological study 
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    Strom Water and Rain Water study 
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    Landscape Architect  
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    Energy Conservation Building Codes (ECBC)
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    Carbon Footprint analysis
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    Traffic study
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    Laboratory services – Analytical  and Monitoring
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    Follow up technical team
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    NOC - Aviation
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    IGBC / GRIHA / LEED 
                </li>
                <li><i class="fas fa-circle-notch"></i>
                    Service provider - Solar panel
                </li>
            </ul>

            <center><h1 class="head">Key Person</h1>
                <!-- <img src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1616237378/pradnya_maushi_a08byc.png" class="img-thumbnail" alt="..."> -->
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col-md-6">
                      <div class="card h-100 keyPerson shadow-lg p-3 mb-5 bg-body rounded">
                        <div class="card-body">
                            <h5 class="card-title sptext">Mrs. Pradnya A Niphade</h5>
                            <p class="card-text">
                                Experience -  15 years <br>
                                NABET Accredited EC Coordinator - 38 39 & 21 Sector <br>
                                NABET Accredited FAE – SW, WP & RH <br>
                                Email : bagul_pradnya@rediffmail.com , pangreenfiledenviro@gmail.com<br>
                                Mob : +91-95940-76605<br>
                                Location : Thane 
                            </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card h-100 keyPerson shadow-lg p-3 mb-5 bg-body rounded">
                        <div class="card-body">
                            <h5 class="card-title sptext">Mrs. Surekha M Kadam</h5>
                            <p class="card-text">
                                Experience -  10 years <br>
                                NABET Accredited EC Coordinator – 38 sector<br>
                                NABET Accredited FAE – SHW, WP & LU<br>
                                Email : pangreenfiledenviro@gmail.com<br>
                                Mob : +91-99704-05605<br>
                                Location : Pune<br>
                                Addredd : Tanish Pearls , A Building Flat No. 203, 2nd floor, Charoli Phata Charholi Khurd - Pune - 412105
                            </p>
                        </div>
                      </div>
                    </div>
                </div>
            </center>
        </div> 

        <div style="background-color: #0F2027; color: white; padding-bottom: 3rem;">
            <center class="head"><h1 id="contact">Contact Us <i class="fas fa-phone"></i></h1></center>
            <center>
                <ul>
                    <li>
                        For any enquiry/information please contact us on :<br>
                        +91-9594076605/+91-9970405605 <br> 
                        Timing : 10 am to 6 pm
                    </li>
                    <li>
                        Also write to us for any assistance on : <br>
                        pangreenfieldenviro@gmail.com or bagul_Pradnya@rediffmail.com
                    </li>
                </ul>
            </center>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>



<script>
    
    $('.carousel').carousel({
        interval: 2000
    });

    $(document).ready(function(){
    // Add smooth scrolling to all links
    $("contactus").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
            scrollTop: $(hash).offset().top
        }, 800, function(){

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
        });
        } // End if
    });
    });

</script>
