<!DOCTYPE html>
<html>
    <head>
        <title>PAN</title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Chango&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../public/stylesheet.css">
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">PAN</a>
                <a class="navbar-brand d-flex flex-row-reverse" id="contactNav" href="/">Contact Us</a>    
            </div>    
        </nav>
        <div class="container">
            <!-- courosel -->

            <!-- content -->
            
            <center><h1 id="head">What We Do?</h1></center>
            <ul>
                <li>
                    Environmental Clearance (Fresh / Amendment / Expansion / Re-validation) from SEIAA, Maharashtra, MOEF and other states 
                </li>
                <li>
                    Environmental Impact Assessment report including baseline monitoring
                </li>
                <li>
                    Terms of Reference application 
                </li>
                <li>
                    Consent to Establish, Operate, Renewal etc. from Maharashtra Pollution Control Board (MPCB)
                </li>
                <li>
                    Six monthly Compliance and Monitoring report to Nagpur, Env. Dept, MPCB
                </li>
                <li>
                    Compliance RO-Certification from MoEF, Nagpur Division
                </li>
                <li>
                    Central Ground Water Authority (CGWA) NOC
                </li>
                <li>
                    Preparation of Environmental Status report as require by Corporations.
                </li>
                <li>
                    Safety audit
                </li>
                <li>
                    Factory liaisons 
                </li>
                <li>
                    <ul>
                        <h6>Online form submission </h6>
                        <li>Consent Application </li>
                        <li>Hazardous Waste Applications</li>    
                        <li>Plastic related applications</li>     
                        <li>Bio-medical waste application</li>     
                        <li>Municipal Solid Waste Applications</li>    
                        <li>E-waste applications</li>    
                        <li>Battery applications</li>    
                        <li>Environment Statement</li>    
                        <li>Water cess</li>    
                        <li>Construction & Demolition Applications</li>    
                        <li>Other application as applicable under Act</li>    
                    </ul>
                </li>
            </ul>

            <center><h1>Our Expertise</h1></center>
            <ul>
                <li>
                    To get an Environmental clearance from component authority for Building Construction projects, Area Development and Township projects, Hospital Projects, Commercial project likes offices, shops, Hubs, Malls, Market and IT projects etc. Also have an experience to getting the EC for industry project like Synthetic Organic, Distilleries, Sugar, Thermal Power plants, Cement and grinding sector, waste management sector 
                </li>
                <li>
                    To do the Environmental Impact Assessment studies including baseline monitoring  which is part of Environmental Clearance procedure as per EIA Notification
                </li>
                <li>
                    To prepare the Assessment of ecological damage assessment report, including remediation plan and natural and community resource augmentation plan
                </li>
                <li>
                    To prepare the Approach paper issued by SEIAA – Maharashtra State and follow the Guideline issued by MoEF&CC 
                </li>
                <li>
                    To prepare the Environmental Management Plan & report, Waste Management plan including municipal solid waste, Bio Medical waste, Hazardous waste and Debris management plan  & report, Environmental Status report, Disaster management plan & report etc.
                </li>
                <li>
                    To prepare and submit the compliance and monitoring report for EC and consent condition.
                </li>
                <li>
                    To do, safety audit, Factory Licenses, submission of forms comes under Air, Water Act & Rules and Hazardous Rules .
                </li>
                <li>
                    Expertise in handling the project independently and with a good sense of communication with the client. 
                </li>
            </ul>
            
            <center><h1>Our commitment to our clients</h1></center>
            <ul>
                <li>We provide technical support and quality service while handling project and presenting before respective committees. </li>
                <li>We provide the whole assistance during project coordination up to completion of work</li>
                <li>We will give assurance about the project completion time frame and target to be completed as decided </li>
                <li>We give our 100% affords for completion of project </li>
                <li>We are tying to reach and set the Goal.</li>
                <li>Customer satisfaction related to project handling and clearance process is our first commitment </li>
                <li>We are committed to fulfilling these needs and building long-term customer loyalty</li>
                <li>We always welcomes to customers comments, complaints, suggestions and feedback</li>
                <li>We are good in team work and having well developed skill in communication   </li>
            </ul>

            <center><h1>Work Experience</h1></center>
            <ul>
                <li>New proposed, expansion, Amendment, Re-validation - having BUA area below 1,50,000 m2 and above 1,50,000 m2.</li>
                <li>Residential & Commercial projects were comes under difference corporations more than 100 projects </li>
                <li>Township development and Area Development projects having BUA area above 1,50,000 m2 more than 30 projects </li>
                <li>Commercial projects, Hospital projects, IT projects, Mall etc more than 40 projects </li>
                <li>Violation projects comers under Environmental (Protection) Act, 1986 and MoEF Notification dated 14th March 2017 and its amendments than 5 projects. </li>

            </ul>

            <center><h1>Other Associates consultants</h1></center>
            <ul>
                <li>
                    Architect – Design and  Interior designer 
                </li>
                <li>
                    Mechanical, Electrical and Plumbing (MEP)
                </li>
                <li>
                    Sewage Treatment Plan (STP)
                </li>
                <li>
                    Organic Waste Composter (OWC) 
                </li>
                <li>
                    Geo-hydrological study 
                </li>
                <li>
                    Strom Water and Rain Water study 
                </li>
                <li>
                    Landscape Architect  
                </li>
                <li>
                    Energy Conservation Building Codes (ECBC)
                </li>
                <li>
                    Carbon Footprint analysis
                </li>
                <li>
                    Traffic study
                </li>
                <li>
                    Laboratory services – Analytical  and Monitoring
                </li>
                <li>
                    Follow up technical team
                </li>
                <li>
                    NOC - Aviation
                </li>
                <li>
                    IGBC / GRIHA / LEED 
                </li>
                <li>
                    Service provider - Solar panel
                </li>
            </ul>

            <center><h1>About Us</h1></center>
            <ul>
                <li>
                    We have since our formation in 2018 in Environmental Consultancy cervices 
                </li>
                <li>
                    We have an experience to deal with Environmental related issues, Clearance work at Ministry of Environment and Forest & Climate Change, Delhi (MoEF&CC),  State Environmental Impact Assessment Authority (SEIAA) and State Expert Appraisal Committee (SEAC) under EIA Notification 2006 and its amendments as per Environmental (Protection) Act, 1986
                </li>
                <li>
                    Also we have an experience to deal with consent related issues at Maharashtra Pollution Control Board (MPCB) under the Water (P&CP) Act, 1974, Air (Prevention and Control of Pollution) Act, 1981, Water (Cess) Act, 1977, Authorization under Rule 6 of the Hazardous & Other Wastes (M &  T M ) Rules 2016
                </li>
                <li>
                    We have an experience to deal the legal aspect under the National Green Tribunal (NGT) Act, 2010
                </li>
                <li>
                    Having knowledge related EIA notifications, Rules, Circulars, Office Memorandum and Acts etc., 
                </li>
                <li>
                    Well knowledge of the environmental clearance process, issues related to environmental concerns. 
                </li>
            </ul>

            <center><h1 id="contact">Contact Us</h1></center>
            <ul>
                <li>
                    For any enquiry/information  : Kindly give a call on + 91-9594076605/+91-9970405605 in office Timing : 10 am to 6 pm
                </li>
                <li>
                    Also write to us for any assistance on :pangreenfieldenviro@gmail.com and bagul_Pradnya@rediffmail.com
                </li>
            </ul>

            <center><h1>Key Person</h1>
                <!-- <img src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1616237378/pradnya_maushi_a08byc.png" class="img-thumbnail" alt="..."> -->
                <div class="row">
                    <div class="col-md-6">
                        <p>Mrs. Pradnya A Niphade<br>
                            Experience -  15 years <br>
                            NABET Accredited EC Coordinator - 38 39 & 21 Sector <br>
                            NABET Accredited FAE – SW, WP & RH <br>
                            Email : bagul_pradnya@rediffmail.com , pangreenfiledenviro@gmail.com<br>
                            Mob : +91-95940-76605<br>
                            Location : Thane 
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>Mrs. Surekha M Kadam<br>
                            Experience -  10 years <br>
                            NABET Accredited EC Coordinator – 38 sector<br>
                            NABET Accredited FAE – SHW, WP & LU<br>
                            Email : pangreenfiledenviro@gmail.com<br>
                            Mob : +91-99704-05605<br>
                            Location : Pune<br>
                            Addredd : Tanish Pearls , A Building Flat No. 203, 2nd floor, Charoli Phata Charholi Khurd - Pune - 412105
                        </p>
                    </div>
                  </div>
                </center>

        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
