<%- include ("../public/header") %>

        <div class="container" style="padding-bottom: 5rem;">

            <div>
                <center>
                    <span id="panHead">
                    <span style="color: rgb(192,0,0);">PAN</span> <span style="color: rgb(71,109,45);">GREEN FIELD ENVIRO</span><br>
                    </span>
                    <marquee behavior="scroll" direction="left">Quality is never an accident. It is always the result of intelligent effort.</marquee>
                </center>
            </div>

            <!-- courosel -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455750/11_h2fkz6.png" alt="Third slide">
                    </div>                   
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455750/22_ndjnbk.png" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455750/33_marxbr.png" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455750/44_cg1zhb.png" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455750/55_h0twc7.png" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455752/66_bynm01.png" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455751/77_t90azx.png" alt="Second slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455751/88_shmumq.png" alt="Third slide">
                    </div>
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617455751/99_hkue8b.png" alt="Third slide">
                    </div> 
                    <div class="carousel-item carousal">
                        <img class="d-block w-100" src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617460287/1010_gm8vg5.png" alt="Third slide">
                    </div> 
                    
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>

            <div>
                <center>
                <p>
                    <span style="font-size: 1.5rem; color: #0b4242;">
                        Environmental Consultancy Services <br>
                        Company Registration - 1810200312198599 <br>
                        MSME - UDYAM-MH-33-0047229 <br>
                        Registered Address : 402, Sheetal Niwas Building,  Ram Maruti Road,
                        <br>  Naupada Road, Near Bedekar Hospital, Thane West - 400602
                    </span>
                </p>
                </center>
            </div>
        </div> 

        <div style="background-color: #0F2027; color: white; padding-bottom: 3rem;">
            <center class="head"><h1 id="contact">Contact Us <i class="fas fa-phone"></i></h1></center>
            <center>
                <ul>
                    <li>
                        For any enquiry/information please contact us on :<br>
                        +91-95940-76605/+91-99704-05605 <br> 
                        Timing : 10 am to 6 pm
                    </li>
                    <li>
                        Also write to us for any assistance on : <br>
                        pangreenfieldenviro@gmail.com <br> & <br> bagul_pradnya@rediffmail.com
                    </li>
                </ul>
            </center>
            <p style="text-align: right; padding-right:2rem;">
                Website Created By: <br>
                Rutuja Ambhore <br>
                Email id : rutujaamb@gmail.com <br>
                Contact no. : 7709083858 <br>
            </p>
        </div>

<%- include ("../public/footer") %>