<%- include ("./public/header") %>

<div class="parallax" style="padding-bottom: 5rem">

    <center class="head"><h1 id="contact">Contact Us <i class="fas fa-phone"></i></h1></center>
    <center>
        <ul>
            <li>
                For any enquiry/information please contact us on :<br>
                <span style="font-weight: bold;">+91-95940-76605</span> / <span style="font-weight: bold;">+91-99704-05605 </span><br> 
                Timing : 10 am to 6 pm
            </li>
            <li>
                Also write to us for any assistance on : 
                <span style="color: blue;"> pangreenfieldenviro@gmail.com</span> & <span style="color: blue;"> bagul_pradnya@rediffmail.com</span>
            </li>
            <li>
                For account & billing related : Mrs. Prajakta Waje : Email :
                <span style="color: blue;"> panenviroacc@gmail.com</span> , Mob : 9702030669
            </li>
        </ul>
    </center>

    <center><h1 class="head">Key Person</h1></center>
    <!-- <img src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1616237378/pradnya_maushi_a08byc.png" class="img-thumbnail" alt="..."> -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-md-6">
        <div class="card h-100 keyPerson shadow-lg p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <center><h5 class="card-title sptext">Mrs. Pradnya A Niphade</h5>
                <p class="card-text" style="font-size: .85rem;">
                    Experience : 15 years <br>
                    NABET Accredited EC Coordinator - 38, 39 & 21 Sector <br>
                    NABET Accredited FAE – SW, WP & RH <br>
                    Email : <span style="color: blue;">bagul_pradnya@rediffmail.com</span> <br> & <br> <span style="color: blue;">pangreenfieldenviro@gmail.com</span><br>
                    Mob : +91-95940-76605<br>
                    Location : Thane 
                </p></center>
            </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="card h-100 keyPerson shadow-lg p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <center><h5 class="card-title sptext">Mrs. Surekha M Kadam</h5>
                <p class="card-text" style="font-size: .85rem;">
                    Experience :  10 years <br>
                    NABET Accredited EC Coordinator – 38 sector<br>
                    NABET Accredited FAE – SHW, WP & LU<br>
                    Email : <span style="color: blue;">pangreenfieldenviro@gmail.com</span><br>
                    Mob : +91-99704-05605<br>
                    Location : Pune<br>
                    <span style="font-size: .85rem;">Addredd : Tanish Pearls , A Building Flat No. 203, 2nd floor, Charoli Phata Charholi Khurd - Pune - 412105</span>
                </p>
            </center>
            </div>
        </div>
        </div>
    </div>
</div>

<%- include ("./public/footer") %>