<!DOCTYPE html>
<html>
    <head>
        <title>PAN</title>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Chango&display=swap" rel="stylesheet"> 
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pangolin&family=Ranchers&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="stylesheet.css">

    </head>
    <body>
        <div class="parallax">
        <!-- navbar -->
        <nav class="navbar navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="https://res.cloudinary.com/dnmsyfrgs/image/upload/v1617212410/logo1_nlo0w3.png" height="50" width="50">
                    PAN
                </a>
                <span class="navbar-brand d-flex flex-row-reverse">
                    <li class="nav-item dropdown" style="list-style-type:none;">
                        <a class="dropdown-toggle contactNav" style="color: white;" id="nav_links" href="/aboutUs" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/aboutUs/#aboutus" id="nav_links">About Us</a>
                            <a class="dropdown-item" href="/aboutUs/#experience" id="nav_links">Experience</a>
                            <a class="dropdown-item" href="/aboutUs/#whatwedo" id="nav_links">What we do</a>                                
                            <a class="dropdown-item" href="/aboutUs/#expertise" id="nav_links">Expertise</a>
                            <a class="dropdown-item" href="/aboutUs/#commitment" id="nav_links">Commitment</a>
                        </div>
                        <a class="contactNav"  id="nav_links" href="/associates" style="color: white; padding-left: 2rem;">
                            Associates
                        </a>
                        <a class="contactNav"  id="nav_links" href="/contactUs" style="color: white; padding-left: 2rem;">
                            Contact Us
                        </a>
                    </li>
            </div>    
        </nav>

