body{
    background:white; 
    background-image: url("https://www.transparenttextures.com/patterns/diagonales-decalees.png");
    word-spacing: .2rem;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
}

html {
    scroll-behavior: smooth;
  }

.head{
    font-family: 'Acme', sans-serif;
    padding-top: 5rem;
    color: rgb(192,0,0);
}

.contactNav{
    padding-left: 2rem;
    color: white;
}

#panHead{
    font-family: 'Changa', sans-serif;
    font-size: 5rem; 
    color: rgb(242, 22, 77);;
    padding: 5rem;
}

ul {
    list-style-type: none;
}

.content{
    background: whitesmoke;
}

.keyPerson{
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/diagonales-decalees.png");
}

.carousel-inner img {
    padding-top: 1rem;
    padding-bottom: 4rem;
    height: 30rem;
    margin-inline-end: 0%;
}

.sptext{
    color: rgb(71,109,45);;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}

a:hover {
    color: white;
  }