body{
    background:lavender; 
    background-image: url("https://www.transparenttextures.com/patterns/diagonales-decalees.png");
    word-spacing: .2rem;
    font-family: 'Pangolin', cursive;
    font-size: 1.5rem;
}

.head{
    font-family: 'Ranchers', cursive;
    padding-top: 5rem;
    color: rgb(242, 22, 77);
}

ul {
    list-style-type: none;
}

.content{
    background: #E9E4F0;
}

.keyPerson{
    background-color: lavender;
    background-image: url("https://www.transparenttextures.com/patterns/diagonales-decalees.png");
}

.carousel-inner img {
    padding-top: 5rem;
    padding-bottom: 4rem;
    height: 30rem;
    margin-inline-end: 0%;
}

.sptext{
    color: blueviolet;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}